body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}

.wrapper {
  background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #9df9ef;
  height: 70vh;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #fff;
  width: 100%;
  display: block;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  outline: none;
}

button{
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 10px;
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 15px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-weight: 100;
}

button:hover{
  background: #ff96ad;
  box-shadow: 0 0 5px #ff96ad, 0 0 25px
  #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}

.info{
  width: 100%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.info-key{
  color: #fff;
  border-bottom: solid 2px rgb(255, 255, 255, 0.06);
  font-weight: 400;
}

.info-key:last-child{
  border: 0;
}

.info-value{
  color: #ff96ad;
  font-family: 200;
}